page-home {

	.spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    
    .header-banner{
		
		//height:175px;
		//min-height:200px;
		background: transparent;
	}

	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}
	.home-slide {
		height: 200px !important;
	}
	ion-card{
		background: transparent !important;
		//height: 120px !important;
	}
	.card-header-md {
		font-size: 2.0rem !important;
		//padding: 2px 2px 2px 18px !important;
		font-weight: bold;
	}
}